@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

//----------- menu ------------//
.menu {
  position: fixed;
  transform: translateX(-600px);
  transition: ease 0.2s;
  
  min-width: 320px;
  min-height: 100%;
  
  padding: 20px 15px 15px 15px;
  background-color: #000;
  opacity: 0.8;
  border-right: 1px solid #fff;
  z-index: 99;
  &__show {
    transform: translateX(0px);
	}
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 15px;
  }
  &__logo {
    width: 40px;
    height: 40px;
  }
  &__close {
    width: 25px;
    height: 25px;    
    transition: 1s all;
  }
  &__close:hover {
    transform: rotate(180deg);
  }
	&__items {
    position: relative;
	}
  &__items::before {
    content: '';
    position: absolute;
    width: 90%;
    height: 1px;
    background-color: #ccc;
    bottom: -20px;
    left: 10px;
  }
	&__item {
    position: relative;
    margin-bottom: 10px;

    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 21px;
    letter-spacing: 0.02em;
  }
  &__item::before {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    width: 25px;
    height: 25px;
    left: 20px;
    top: 12px; 
  } 
  &__item::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 32px;
    left: 70px;
    top: 12px;
    background-color: #fff;
    transition: 0.3s all;
  } 
  &__item:hover::after {
    background-color: #000;
  }
  &__item--home::before {
    background-image: url('../images/icons/menu-icons/icon-home.svg');  
  }
  &__item--about::before {
    background-image: url('../images/icons/menu-icons/icon-briefcase.svg');
  }
  &__item--questions::before {
    background-image: url('../images/icons/menu-icons/icon-question.svg');
  }
  &__item--reviews::before {
    background-image: url('../images/icons/menu-icons/icon-reviews.svg');
  }
  &__item--contacts::before {
    background-image: url('../images/icons/menu-icons/icon-feather.svg');
  }
  &__item:hover {
    background-color: #dfbcdc;
    background-color: #fff;
  }
	&__link {
    color: #fff;
    display: block;
    padding: 10px 50px 10px 90px;
	}
  &__link:hover {
    color: #000;
  }
}
//----------- burger ------------//
.burger {
  width: 46px;
  height: 46px;
  cursor: pointer;
  padding: 0;
  background-color: var(--accent-color);
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	&__line {
    display: block;
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 6px;
  }
  &__line:last-child {
    margin-bottom: 0;
  }
  &:focus {
    outline: none;
  }
}
//----------- header ------------//
.header {
  min-height: 740px;
  background-image: url('../images/main-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center end;
	&__inner {
    padding-top: 20px;
    margin-bottom: 112px;
    display: flex;
    justify-content: space-between;
    align-items: center;
	}
  &__logo {
    width: 60px;
    height: 60px;
  }
  &__logo-none {
    opacity: 0;
  }
  &__title {
    font-weight: 400;
    font-size: 62px;
    line-height: 85px;
    text-align: center;
    max-width: 734px;
    margin: 0 auto 17px;
    color: var(--dark-color);
  }
  &__subtitle {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    max-width: 734px;
    margin: 0 auto;
    color: #281e1e;
  }
}
//----------- about-section ------------//
.about {
  padding-top: 250px;
  position: relative;
  &__inner {
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1110px;
    min-height: 300px;
    width: 100%;
    background-color: #f7f7f7;
    padding: 50px 130px;
    padding: 50px 56px;
    border: 1px solid var(--dark-color);
  }
	&__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;
	}
	&__grid-item {
    text-align: center;
    width: 190px;
	}
	&__grid-title {
    color: var(--accent-color);
    font-size: 72px;
    font-weight: 400;
    margin-bottom: 5px;
	}
	&__grid-subtitle {
    color: #000;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
	}
	&__text {
    color: var(--gray-color);
    font-size: 18px;
    font-weight: 400;
	}
}
//----------- project-section ------------//
.project {
  margin-bottom: 100px;
  &__title {
    text-align: center;
    margin-bottom: 50px;
  }
	&__items {
    display: flex;
	}
	&__item {
    max-width: 350px;
    margin-right: 30px;
	}
  &__item:last-child {
    margin-right: 0;
	}
  &__item-img {
    margin-bottom: 45px;
    height: 380px;
    object-fit: cover;
    width: 100%;
  }
  &__item-rectangle {
    width: 56px;
    height: 5px;
    background-color: var(--accent-color);
    margin-bottom: 12px;
  }
  &__item-title {
    color: var(--dark-color);
    margin-bottom: 13px;
  }
  &__item-text {
    color: var(--gray-color);
  }
}
//----------- request-section ------------//
.request {
  background-color: var(--accent-color);
  margin-bottom: 100px;
	&__inner {
    padding-top: 35px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
	}
	&__content {
    color: var(--white-color);
	}
  &__title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 71px;
    margin-bottom: 7px;
	}
  &__subtitle {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: var(--dark-color);
	}
	&__btn {
    margin-top: 20px;
    border: none;
    background-color: #fff;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.05em;
    padding: 14px 30px;
    cursor: pointer;
    transition: 0.2s all;
    border: 1px solid #dfbcdc;
	}
  &__btn:hover {
    color: #FFF;
    background-color: var(--dark-color);
    transform: scale(1.1);
  }
	&__icon {
    margin-right: 15px;
	}
}
//----------- services-section ------------//
.services {
  margin-bottom: 100px;
  &__title {
    color: #000;
    text-align: center;
    margin-bottom: 55px;
  }
	&__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
	}
	&__grid-item {
    padding: 59px 0;
    width: 350px;
    height: 250px;
    
    background-color: #f7f7f7;
    border: 1px solid var(--gray-color);
	}
	&__grid-icon {
    width: 60px;
    height: 60px;
    margin: 0 auto 21px;

    background-color: #fff;
    border: 1px solid var(--gray-color);
    padding: 10px;

	}
	&__grid-title {
    color: #000;
    text-align: center;
    margin: 0 auto;
    padding: 0 50px;
    text-transform: capitalize; 

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
	}
  &__grid-title--hidden {
    display: none;

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    text-align: center;
    padding: 0 25px;
  }
  &__grid-item:hover {
    border: 5px solid var(--accent-color);
    background-color: #d6d8f3;
  }
  &__grid-item:hover img.services__grid-icon {
    display: none;
  }
  &__grid-item:hover h4.services__grid-title {
    display: none;
  }
  &__grid-item:hover h4.services__grid-title--hidden {
    display: block;
  }
}
//----------- portfolio-section ------------//
.portfolio {
  margin-bottom: 100px; 
	&__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 0;
	}
	&__grid-item {
	}
	&__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
	}
}
//----------- questions-section ------------//
.questions {
  margin-bottom: 100px;
  &__title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 38px;
    line-height: 71px;
    margin-bottom: 20px;
  }
	&__items {
	}
	&__item {
    margin-bottom: 10px;
	}
  &__item-title {
    cursor: pointer;
    text-transform: capitalize;
    color: var(--accent-color);
    margin-bottom: 23px;    
  }
  &__item-text {        
    margin-bottom: 30px;
    color: var(--gray-color);
    max-width: 730px;
	}
}
//----------- partners-section ------------//
.partners {
  padding: 30px 0;    
  margin-bottom: 70px;

  background-color: var(--dark-color);
	&__title {
    color: var(--white-color);
    text-align: center;
    margin-bottom: 50px;
	}
	&__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
	}
	&__item {
    margin-right: 40px;
    margin-bottom: 20px;
    max-width: 170px;
	}
  &__item:nth-child(5n) {
    margin-right: 0;
	}
}
//----------- reviews-section ------------//
.reviews {
  margin-bottom: 100px;
  &__title {
    text-align: center;
    margin-bottom: 60px;
	}
	&__grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr); 
	}
	&__grid-item {
	}
	&__grid-card {
    background-color: #f7f7f7;
    padding: 30px 35px;
    margin-bottom: 35px;
    height: 300px;
	}
	&__grid-quotes {
    font-size: 96px;
    color: var(--accent-color);
    line-height: 1;
    margin-bottom: -40px;  
	}
  &__grid-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 21px;

    text-indent: 30px;
    text-align: justify;
  }
  &__grid-author {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 21px;
    margin-left: 10px;
    span {
      color: var(--accent-color);
    }
  }
}
//----------- contact-section ------------//
.contact {
  margin-bottom: 70px; 
  &__items {
    display: flex;
    justify-content: space-between;
	}
	&__item {
    max-width: 250px;
    margin: 0 10px;
	}
	&__item-title {
    margin-bottom: 20px;
	}
	&__item-text {
	}
	&__item-link {
    margin-bottom: 7px;
    a {
      text-decoration:none;
      color: #000;
    }
    a:hover {
      color: var(--accent-color);
    }
	}
  &__item-link:last-child {
    margin-bottom: 0px;
	}
	&__item-adress {
    margin-bottom: 10px;
    line-height: 22px;
	}
	&__item-number {
    margin-bottom: 10px;
    a {
      color: #000;
      text-decoration:none;
      color: #8287eb;
    }
	}
	&__item-mail {
    a{
      color: #000;
      text-decoration:none;
    }
	}
	&__item-social {

	}
  &__socials {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;  
  }
  &__socials-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 4px;
  
    background-color: #fff;
    border: 1px solid #e8ecee;

    transition: background .1s linear;
  }
  &__socials-item:hover {
    background-color: #e8ecee;
  }
  &__socials-item:hover .contact__socials-icon {
    fill: #000;
  }
  &__socials-icon {
    display: block;
    height: 18px;
    fill: #c6cacc;

    transition: fill .1s linear;
  }
  &__shedule {
    margin-bottom: 15px;
  }
  &__shedule-item {
    span {
      color: var(--accent-color)
    }
  }
}
//----------- footer ------------//
.footer {
  padding: 15px 0;
  background-color: var(--dark-color);
  color: var(--white-color);
	&__inner {
    display: flex;
    justify-content: space-between;
	}
}



@import 'media';